/****---MAIN COLORS---****/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: Lato,sans-serif;
  font-weight: 400; }

header {
  position: relative;
  display: block;
  width: 100%;
  background: url(../img/header-background.png) no-repeat;
  background-size: cover; }
  header .image_container {
    display: block;
    position: absolute;
    width: 100%;
    left: -8%; }
    header .image_container img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  header .main_menu {
    margin-top: 40px;
    list-style: none;
    float: right; }
    header .main_menu li {
      display: inline-block;
      padding-left: 30px; }
      header .main_menu li a {
        text-transform: uppercase;
        font-size: 14pt;
        text-decoration: none;
        color: #fff;
        padding: 15px 15px; }
      header .main_menu li a:hover {
        background-color: #fff;
        color: #43cb83;
        border-radius: 40px; }
  header .header_text_wrapper {
    margin-top: 30px;
    margin-bottom: 80px; }
    header .header_text_wrapper h1 {
      text-transform: uppercase;
      font-size: 36px;
      color: #fff;
      font-weight: 900;
      padding: 25px 0; }
    header .header_text_wrapper h4 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      padding-bottom: 25px; }
    header .header_text_wrapper p {
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      font-weight: 400; }

section {
  display: block; }
  section .section-title {
    text-align: center;
    display: block;
    padding-top: 55px;
    font-size: 36px;
    font-weight: 600; }
  section .product {
    border: 1px solid #e3e3e3;
    background-color: #fff;
    margin-top: 30px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    margin-bottom: 50px; }
    section .product:hover {
      -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    section .product h1 {
      font-size: 18px;
      text-transform: uppercase;
      margin: 15px 0;
      font-weight: 500;
      text-align: center;
      height: 50px; }
    section .product img {
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      width: 150px;
      height: 140px; }
    section .product .product-price {
      display: block;
      text-align: center;
      font-size: 29px;
      font-weight: 900;
      font-family: Montserrat,sans-serif;
      color: #515461; }
    section .product p {
      text-align: center;
      padding: 0 15px;
      font-size: 14px;
      height: 150px; }
    section .product .counter-wrap {
      display: block;
      margin: 0 auto;
      width: 100px; }
      section .product .counter-wrap .product-counter {
        display: block;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        padding: 2px 0; }
      section .product .counter-wrap input {
        border: none;
        display: inline-block;
        outline: none;
        width: 20px; }
      section .product .counter-wrap span {
        display: inline-block;
        float: right; }
      section .product .counter-wrap .down {
        padding-left: 8px;
        text-decoration: none;
        color: #000; }
      section .product .counter-wrap .up {
        padding-right: 8px;
        text-decoration: none;
        color: #000; }
    section .product .buy-btn {
      border: 2px solid #43cb83;
      background-color: #fff;
      border-radius: 30px;
      width: 200px;
      height: 40px;
      outline: none;
      color: #6b6b6b;
      display: block;
      margin: 20px auto;
      font-weight: 700;
      text-transform: uppercase;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      section .product .buy-btn:hover {
        color: #000;
        background-color: #43cb83;
        font-weight: 900; }

section.steps-sec {
  background: url("../img/bg-beacons.png") no-repeat;
  position: relative;
  background-size: cover; }
  section.steps-sec .section-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    section.steps-sec .section-image img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  section.steps-sec h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    padding-top: 30px; }
  section.steps-sec #steps-form {
    display: block;
    margin: 0 auto;
    width: 800px; }
    section.steps-sec #steps-form #screen-two, section.steps-sec #steps-form #screen-three {
      display: none; }
    section.steps-sec #steps-form p {
      font-size: 24px;
      text-align: left;
      font-weight: 600; }
    section.steps-sec #steps-form h3 {
      display: none; }
    section.steps-sec #steps-form .actions ul {
      list-style: none; }
      section.steps-sec #steps-form .actions ul li > a[href="#previous"] {
        display: none; }
      section.steps-sec #steps-form .actions ul li > a {
        width: 200px;
        padding: 10px 0;
        border-radius: 30px;
        background-color: #fff;
        color: #43cb83;
        border: none;
        display: block;
        margin: 10px auto;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 900;
        outline: none;
        text-decoration: none;
        text-align: center;
        vertical-align: middle; }
        section.steps-sec #steps-form .actions ul li > a:hover {
          -webkit-box-shadow: 0 5px 20px #709f90;
          box-shadow: 0 5px 20px #709f90;
          -webkit-transition: .5s ease;
          -o-transition: .5s ease;
          transition: .5s ease;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
    section.steps-sec #steps-form .steps {
      padding: 30px 0; }
      section.steps-sec #steps-form .steps ul {
        list-style: none;
        text-align: center; }
        section.steps-sec #steps-form .steps ul li {
          display: inline-block;
          border-radius: 24px;
          padding: 10px 34px;
          cursor: pointer;
          margin-left: 35px; }
          section.steps-sec #steps-form .steps ul li:hover, section.steps-sec #steps-form .steps ul li.current {
            background-color: #fff;
            -webkit-box-shadow: 0 15px 30px #709f90;
            box-shadow: 0 15px 30px #709f90;
            -webkit-transition: .3s ease;
            -o-transition: .3s ease;
            transition: .3s ease; }
          section.steps-sec #steps-form .steps ul li a {
            font-size: 22px;
            text-decoration: none;
            color: #282828;
            font-weight: 900;
            text-transform: uppercase;
            border-radius: 24px; }
    section.steps-sec #steps-form input {
      display: block;
      padding: 10px 15px;
      width: 100%;
      margin-bottom: 13px;
      border-radius: 30px;
      border: 2px solid #fff;
      background-color: #ffffff6b;
      outline: none;
      color: #282828;
      font-size: 24px;
      font-weight: 700; }
      section.steps-sec #steps-form input:focus {
        -webkit-box-shadow: 0 5px 10px #282828;
        box-shadow: 0 5px 10px #282828;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease; }
    section.steps-sec #steps-form button[type="button"] {
      width: 200px;
      height: 55px;
      border-radius: 30px;
      background-color: #fff;
      color: #43cb83;
      border: none;
      display: block;
      margin: 10px auto;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 900;
      outline: none; }
      section.steps-sec #steps-form button[type="button"]:hover {
        -webkit-box-shadow: 0 5px 20px #709f90;
        box-shadow: 0 5px 20px #709f90;
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
    section.steps-sec #steps-form .form-error {
      color: red;
      font-size: 24px; }
    section.steps-sec #steps-form input.error {
      border: 2px solid #904343; }
    section.steps-sec #steps-form label.error {
      color: #904343; }

footer.footer {
  background: url("../img/footer-background.jpg") no-repeat;
  position: relative; }
  footer.footer .footer-img {
    position: absolute;
    top: -180px;
    left: 0; }
    footer.footer .footer-img img {
      width: 83%;
      vertical-align: middle; }
  footer.footer .support-phone h1 {
    color: #fff;
    font-size: 24px;
    padding-top: 35px; }
  footer.footer .support-email h2 {
    color: #fff;
    font-size: 24px;
    padding-top: 7px; }
  footer.footer .social-links li {
    list-style: none;
    display: inline-block; }
    footer.footer .social-links li a {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      text-align: center;
      vertical-align: middle;
      padding: 15px 0;
      border: 1px solid #fff;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin: 20px 15px; }
      footer.footer .social-links li a:hover {
        background-color: #fff;
        color: #43cb83;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease; }
  footer.footer .footer-menu ul {
    -webkit-padding-start: 0;
    padding-inline-start: 0; }
    footer.footer .footer-menu ul li {
      list-style: none;
      display: inline-block; }
      footer.footer .footer-menu ul li a {
        color: #fff;
        text-decoration: none;
        margin: 0px 15px;
        font-size: 20px; }
  footer.footer .copyright {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px; }

@media (max-width: 768px) {
  header .image_container {
    display: none; }
  header .main_menu {
    display: none; }
  header .header_text_wrapper h1 {
    text-align: center; }
  section.steps-sec .section-image {
    display: none; }
  section.steps-sec #steps-form {
    width: auto; }
    section.steps-sec #steps-form .steps ul {
      padding: 0;
      text-align: center; }
      section.steps-sec #steps-form .steps ul li {
        padding: 10px 14px; }
        section.steps-sec #steps-form .steps ul li a {
          font-size: 18px; }
  footer.footer .footer-img {
    display: none; }
  footer.footer .support-phone h1 {
    font-size: 18px;
    font-weight: 700; } }

@media (max-width: 440px) {
  footer.footer .social-links ul li a {
    height: 40px;
    width: 40px;
    font-size: 18px;
    padding: 10px; } }
